


<div class="row main-wrapper" > 
    <div class="col-xs-12 coming-soon">
        <h1> Cool stuff coming soon </h1>
    </div>
    <div class="col-xs-12 main-canvas-padding">
        <div class="col-xs-12 main-canvas" teerzo-main>

        </div>
    </div>
</div>


<div class="row divider">  </div> 

<div class="row content"> 
    <div class="col-xs-12 content-profile">
        <div class="col-xs-12 col-sm-6 content-profile-image">
            <img class="" src="./images/profile-image.jpg">
        </div>
        <div class="col-xs-12 col-sm-6 content-profile-details">
            <p> Kyle McArthur </p>
            <p> Front end developer </p>
            <a href="http://www.interact.technology/"> @ Interact Technology </a>
            <p> Twitter </p>
            <p> Linkden </p>
            <a href="https://twitter.com/Teerzo" class="twitter-follow-button" data-show-count="false">Follow @Teerzo</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <!--<a class="twitter-follow-button" href="https://twitter.com/Teerzo" data-size="large">
                Follow @Teerzo
            </a>-->
        </div>
    </div>
</div>
