

.projects {
    padding: 10px;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 600px;

        .item {
            border: 1px solid red;
            .thumb {
                width: 100px;
                height: 100px;
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    .blank {
        text-align: center;
        margin: 0 auto;
    }
}