
$frontend-font-dark: #333333;

.frontend-wrapper {
    background-color: #AAAAAA;
    .content {
        .content-package-search {
            margin-bottom: 20px;
            label {
                color: $frontend-font-dark;
            }
            input {
                color: $frontend-font-dark
            }
        }
        .content-packages {
            .content-package {
                // border: 1px solid red;
                padding: 10px;
                background-color: #444444;

                border-radius: 5px;
                -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
                -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
                box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);

                -webkit-transition: all 1s ease-out;
                -moz-transition: all 1s ease-out;
                -o-transition: all 1s ease-out;
                transition: all 1s ease-out;

                margin-bottom: 20px;
                .content-package-name {
                    display: inline-block;
                    margin: 0;
                }
                 .content-package-number {
                    display: block;
                    float: right;
                    margin: 0;
                }
                .content-package-collapse {
                    // border: 1px solid green;
                    
                    display: inline-block;
                    padding-right: 20px;

                    //  width: 40px;
                    // height: 40px;
                    vertical-align: top;
                    color: #FFFFFF;
                    font-size: 1.2em;
                    text-align: center;
                    vertical-align: middle;
                   
                }
                .content-package-collapse-div {
                    // border: 1px solid blue;
                    
                    max-height: 999px;                    
                    -webkit-transition: all 0.2s ease-out;
                    -moz-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;
                }
                .content-package-collapse-div.ng-hide {
                    max-height: 0;
                    opacity: 0;
                }
                .content-package-entry {
                    padding-top: 5px;
                    padding-bottom: 5px;

                    margin-bottom: 10px;

                    // border: 1px solid red;
                }
            }
        } 
    }
}