<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Teerzo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/nav.css">
  <link rel="stylesheet" href="styles/projects.css">
  <link rel="stylesheet" href="styles/frontend.css">
  <!-- endbuild -->
</head>

<body ng-app="websiteTeerzoApp">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper"> 
      <!--<div class="header">
        <div class="row inner">
          -->
        
        <!--<a href="#section-about" class="btn btn-1" ng-mouseover="headerBtnHover($event)" ng-mouseleave="headerBtnLeave($event)">  
          teerzo
        </a>-->
        <!--<a class="btn btn-2" ng-mouseover="headerBtnHover($event)" ng-mouseleave="headerBtnLeave($event)">
          teerzo 
        </a>
        <a class="btn btn-3" ng-mouseover="headerBtnHover($event)" ng-mouseleave="headerBtnLeave($event)">
          teerzo 
        </a>
        <a class="btn btn-4" ng-mouseover="headerBtnHover($event)" ng-mouseleave="headerBtnLeave($event)">
          teerzo 
        </a>-->
        <!--</div>
      </div>-->
      <div class="main"> 
        <div class="row inner"> 
          <div class="col-xs-12 main-header"> 
            <div class="logo"> 
              <a href="#section-about" class="logo" ng-mouseover="headerBtnHover($event)" ng-mouseleave="headerBtnLeave($event)">  
                teerzo
              </a>
            </div>
          </div>
         
        <div id="section-about" class="col-xs-12 col-sm-6 section">
          <div class="section-header"> 
            About:
          </div>
          <div class="section-content">
            <div class="row marg-0"> 
              <div class="col-xs-12 col-sm-4"> 
                <img class="image" src="images/profile-image.jpg">        
                <div class="col-xs-12 break"> </div>        
              </div>
              
              <div class="col-xs-12 col-sm-8"> 
              <p>
                  Kyle McArthur <br>
                25, Sydney Australia <br>
              3D/Front end developer
               </p> 
              </div>
              <div class="col-xs-12 break"> </div>


              <div class="col-xs-12"> 
                <a ng-click="gaEvent('twitter', 'button')" class="btn btn-twitter" target="_blank" href="https://twitter.com/teerzo"> Twitter </a>
                <!-- <a ng-click="gaEvent('instagram', 'button')" class="btn btn-instagram" target="_blank" href="https://www.instagram.com/teerzoid/"> Instagram </a> -->
                <a ng-click="gaEvent('linkedin', 'button')" class="btn btn-linkedin" target="_blank" href="https://www.linkedin.com/in/kyle-mcarthur-5064ba42/"> Linkedin </a>
                <!-- <a ng-click="gaEvent('soundcloud', 'button')" class="btn btn-soundcloud" target="_blank" href="https://soundcloud.com/teerzo"> Soundcloud </a> -->
                <a ng-click="gaEvent('github', 'button')" class="btn btn-gitub" target="_blank" href="https://github.com/teerzo"> Github </a>
              </div>
            </div>
            
      
           
          </div>
          
        </div>
        
        <!-- <div id="section-food"  ng-click="gaEvent('instagram', 'section')" class="col-xs-12 col-sm-6 section">
          <div class="section-content">
            <iframe class="shadow" width="" height="380" scrolling="no" src="http://instagram.com/p/BaxYltUBVGI/embed" frameborder="0"></iframe>
          </div>
        </div>
        <div id="section-music" ng-click="gaEvent('soundcloud', 'section')" class="col-xs-12 col-sm-6 section">
          <div class="section-header"> 
            Listening to:
          </div>
          <div class="section-content">
            <div class="slider"> 
              <div class="slide"> 
                <iframe width="100%" height="330" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/349270582&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>              
              </div>
              <div class="slide"> 
                <iframe width="100%" height="330" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/347575562&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>              
              </div>
            </div>
          </div>
        </div> -->
        

        <div id="section-projects" ng-click="gaEvent('projects', 'section')" class="col-xs-12 col-sm-6 section">
           <div class="section-header"> 
            Building:
          </div>
          <div class="section-content">
            <!-- <div class="wrapper-canvas">  -->
              <div class="wrapper-canvas" teerzo-main=""> 
              <!--<canvas width="100%" height="250px" style="width: 100%; height: 250px;"></canvas>-->
            </div>
          </div>
          
        </div>
        <div id="section-iceskating" ng-click="gaEvent('iceskating', 'section')" class="col-xs-12 col-sm-6 section">
          <div class="section-header"> 
           Ice-skating:
         </div>
         <div class="section-content">
           <div class="wrapper-canvas-iceskating"> 

           </div>
         </div>
         
       </div>

        <div id="section-human" ng-click="gaEvent('human', 'section')" class="col-xs-12 col-sm-6 section">
          <div class="section-header"> 
           Human face:
         </div>
         <div class="section-content">
          <iframe class="shadow" width="100%" height="380" scrolling="no" src="http://teerzo.github.io/Andrew/" frameborder="0"></iframe>
         </div>
         
       </div>

        <div id="section-swgalaxymap" ng-click="gaEvent('human', 'section')" class="col-xs-12 col-sm-6 section">
          <div class="section-header"> 
           Star Wars Galaxy Map
         </div>
         <div class="section-content">
          <iframe class="shadow" width="100%" height="380" scrolling="no" src="http://teerzo.github.io/threejs-swgalaxymap/dist/" frameborder="0"></iframe>
         </div>
         
       </div>


        
        <!--<div id="section-games" class="col-xs-12 col-sm-6 section">
          <div class="section-header"> 
            Playing:
        
          </div>
          <div class="section-content">
          </div>
        </div>-->
        <!-- <div id="section-food" ng-click="gaEvent('instafeed', 'section')" class="col-xs-12 col-sm-6 section">
          <div id="instafeed" class="section-content">

        
          </div>
        </div> -->
      </div>
      <div class="col-xs-12 divider"></div>
      <!--<div class="footer">
        
      </div>-->
    </div>
    </div>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-101939582-1', 'auto');
    // ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/three.js/build/three.js"></script>
  <script src="bower_components/SHA-1/sha1.js"></script>
  <script src="bower_components/angulartics/src/angulartics.js"></script>
  <script src="bower_components/angulartics-google-analytics/lib/angulartics-ga.js"></script>
  <!-- endbower -->
  <!-- endbuild -->


  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <!-- <script src="scripts/instafeed.min.js"></script> -->
 
  <script src="scripts/controllers/project.js"></script>
  <script src="scripts/controllers/nav.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/about.js"></script>
  <script src="scripts/controllers/projects.js"></script>
  <script src="scripts/controllers/frontend.js"></script>
  <script src="scripts/controllers/iceskating.js"></script>
  <!-- endbuild -->
</body>

</html>