

.about {
    padding: 10px;
    text-align: left;
    // width: 100%;
    max-width: 600px;
    
    .profile-parent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 300px;
        max-width: 300px;

        margin-bottom: 20px;
    }
    .flex {
        max-width: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        a {
            color: #FFFFFF;
           
            // text-decoration: none;
        }
        .divider {
            margin-left: 10px;
            margin-right: 10px;
            border-left: 1px solid #aaaaaa;
            width: 2px;
            height: 16px;
        }
    }
}