

.header {
    position: sticky;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    // background-color: #333333;
    background-color: #222222;

    padding: 10px;

    h3 {
        color: #dddddd;
        margin: 0px;
    }

    .divider {
        // margin-left: 10px;
        margin-right: 10px;
        border-left: 1px solid #666666;
        width: 2px;
        height: 16px;
    }

    .logo {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}

