.page {
    font-family: "Roboto", sans-serif;
    font-weight: 300;

    max-width: 1000px;
    height: 100%;

    color: #ffffff;
    margin: 0 auto;
    // padding-top: 64px;
    .page-padding {
        padding: 20px;
    }
    .page-flex {
        display: flex;
        height: 100%;
    }
    .page-vertical {
        display: flex;
        flex-direction: vertical;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    p {
        margin-top: 0px;
    }
}
