.page {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    z-index: 1;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    pointer-events: all;

    overflow-y: auto;
    width: 100%;

    // pointer-events: none;

    // border: 1px solid green;

    // padding-top: 64px;

    // background-color: #333333;

    .page-padding {
        padding: 20px;
        max-width: 500px;
        height: 100%;
        position: relative;
        margin: 0 auto;


        // pointer-events: none;
        & > * {
            pointer-events: all;
        }

        body::-webkit-scrollbar {
            width: 1em;
        }

        body::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        body::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }
    }

    .divider {
        // height: 1px;
        width: 100%;
        border-top: 20px solid rgba($color: #000000, $alpha: 0.0);
        border-bottom: 20px solid rgba($color: #000000, $alpha: 0.0);
    }

    .page-layout-centered {
        max-width: 1000px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;

        // background-color: rgba($color: #333333, $alpha: 0.5);
    }

    

    .home, .projects, .about{

        .flex-vertical {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            // pointer-events: none;

        }
        .flex-horizontal {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            // pointer-events: none;
            & > * {
                pointer-events: all;
            }
            &.flex-justify-center {
                justify-content: center;
            }
        }
        
    }
}
