.page {
    // overflow: hidden;
    // position: relative;
    // flex-grow: 1;
    // height: 100%;
    // width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin: 0 auto;

    // overflow-y: auto;

    // pointer-events: none;

    // border: 1px solid green;

    // padding-top: 64px;

    // background-color: #333333;

    .page-padding {
        padding: 20px;
        height: 100%;
        position: relative;

        // pointer-events: none;
        & > * {
            pointer-events: all;
        }

        body::-webkit-scrollbar {
            width: 1em;
        }

        body::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        body::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }
    }
    .page-layout-centered {
        max-width: 1000px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;

        // background-color: rgba($color: #333333, $alpha: 0.5);
    }

    

    .home, .projects, .about{

        .flex-vertical {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            // pointer-events: none;

        }
        .flex-horizontal {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            // pointer-events: none;
            & > * {
                pointer-events: all;
            }
            &.flex-justify-center {
                justify-content: center;
            }
        }
        
    }
}
