.about {
    .bg-black {
        padding: 10px;
        background-color: rgba($color: #333333, $alpha: 0.8);
    }
    .icon {
        color: #ffffff;
    }
    .icon  {
        font-size: 100px;
        // color: #111111;
        margin-left: 10px;
        margin-right: 10px;
        // color: red;
        &:hover {
            color:rgb(75, 248, 196);;
        }
    }
}
